.container {
  position: relative;
}

.main-content {
  position: absolute;
  width: calc(100% - 200px);
  left: 200px;
  min-height: 100vh;
  background-color: white;
  transition: 0.5s;
}
.main-content.active {
  left: 80px;
  width: calc(100% - 80px);
}
.top-bar .user i {
  margin: 10px;
}
/* Discover */
#discover-shop {
  display: flex;
  flex-direction: row;
  margin-left: 25px;
  margin-top: 30px;
  justify-content: space-around;
  margin-bottom: 30px;
}
#title-discover {
  font-size:2.5em;
  font-weight:bold;
  max-width: 500px;
  word-break: break-word;
  word-wrap: wrap;
  color: var(--ui-background);
  animation: slideT2B 1s;
}
#small-title-discover {
  margin-top: 30px;
  max-width: 500px;
  color: var(--gray);
  animation: slideB2T 1s;
}

.go-shop {
  margin-top: 35px;
  animation: slideR2L 1s;
}
.wrap-discover {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
#img-discover {
  width: 600px;
  height: 400px;
  object-fit:contain;
  transition:all 1s;
  animation: slideR2L 1s ;
}

.discover-figure {
  display: flex;
  justify-content:space-between;
  transition: all 1s;
  animation: slideB2T 1s;
}
.discover-figure div {
  margin: 30px;
}
.discover-figure div:first-child {
  margin-left: 0;
}
.discover-figure div span {
  color: var(--gray);
  text-transform: uppercase;
}
.discover-figure div h2 {
  color: var(--ui-background);
}
.title-popular{
  color: var(--ui-background)
}
/* .popular-shop {
  display: flex;
  justify-content:space-around;
  color: var(--ui-background);
}
.list-product-popular{
  margin-top: 35px;
  display: flex;
  flex-direction: row;
}
.popular-product {
  display: flex;
} */
.popular-product {
  display: flex;
  flex-direction:column;
  width: 300px;
  margin: 50px;
  flex-wrap: wrap;
}
.list-product-popular{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.popular-shop {
  display: flex;
  justify-content:space-around;
  color: var(--ui-background);
}
.see-detail i {
  font-size: 2em
}
.see-detail i:hover {
  color: white;
}

.subtotal span {
  margin-left: auto;
  font-size: 1.5em;
}
.title-popular {
  text-transform:uppercase;
}
.see-orders a {
  color: white;
}